﻿@model Shop.Web.ViewModels.NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/placeholder-image.png";
}
<h2>Створення товару</h2>
<form id="createProduct">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Категорія</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Ім'я</label>
                <input class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label>Опис</label>
                <input class="form-control" name="Description" />
            </div>

            <div class="form-group">
                <label>Ціна</label>
                <input class="form-control" name="Price" />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageURL" name="ImageURL" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />

            </div>
            <button id="saveBtn" type="button" class="btn btn-primary">Зберегти</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Назад</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />

            </div>

        </div>

    </div>
</form>


<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFile = element.files.length;

        for (var i = 0; i < totalFile; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                alert("FAIL");
            });
    });


    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()

        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                alert("FAIL");
            });
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        $("#tableContainer").html(response);
    });
</script>