﻿@model List<Shop.Entities.Product>

@{
    ViewBag.Title = "Товари";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <div class="title">
                        Товари

                    </div>

                </div>
            </div>

        </div>
        <div id="tableContainer">
            @{
                Html.RenderAction("ProductTable");
            }

        </div>
        <div id="actionContainer">

        </div>

    </div>

</section>