﻿
@{
    ViewBag.Title = "Create";

    var imageURL = "/Content/images/placeholder-image.png";
}
<form id="createCategory">

    <h3>Створити категорію</h3>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Ім'я</label>
                <input class="form-control" name="Name" />
            </div>

            <div class="form-group">
                <label>Опис</label>
                <input class="form-control" name="Description" />
            </div>

            <div class="form-group">
                <label>Зображення</label>
                <input id="ImageURL" name="ImageURL" type="hidden" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>

            <div class="form-group">

                <label>Запропонувати?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="True" /> Так</label>
                    </div>
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="False" /> Ні</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="categoryImage" src="@imageURL" />
            </div>
        </div>
    </div>
    <button id="saveBtn" type="button" class="btn btn-primary">Зберегти</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Назад</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFile = element.files.length;

        for (var i = 0; i < totalFile; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $('#createCategory').validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 5,
                    maxlength: 50,
                },
                Description: {
                    maxlength: 500
                }
            },
            messages: {
                Name: {
                    required: 'Назва є обов*язковим полем',
                    minlength: 'Мінімальна довжина - 5',
                    maxlength: 'Максимальна довжина - 50'
                },
                Description: {
                    maxlength: 'Максимальна довжина - 500'
                }
            }
        });


        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMlHttpRequest, textStatus, errorThrow) {
                alert("FAIL");
            });
    });
    $("#saveBtn").click(function () {
        if ($("#createCategory").valid()) {
            $.ajax({
                type: 'POST',
                url: '/Category/Create',
                data: $("#createCategory").serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Помилка",
                        text: "Будь ласка заповніть всі необхідні поля.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        } else {
            swal({
                title: "JS помилка",
                text: "Будь ласка заповніть всі необхідні поля.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        $("#tableContainer").html(response);
    });
</script>