﻿@model Shop.Web.ViewModels.CheckoutViewModels

@if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
{
    var i = 1;
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Ваш кошик</span>
                    </h4>
                    <ul class="list-group mb-3">

                        @foreach (var product in Model.CartProducts)
                        {
                            var productQuantity = Model.CartProductsIds.Where(productID => productID == product.ID).Count();
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0"> @i - @product.Name - К-сть: @productQuantity</h6>
                                    <small class="text-muted">@(product.Description.Length > 100 ? product.Description.Substring(0, 99) : product.Description)</small>
                                </div>
                                <span class="text-muted">Ціна за од.: $ @product.Price - Загальна ціна: @(productQuantity * product.Price)</span>
                            </li>
                            i++;
                        }

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Загальна ціна (USD)</span>
                            <strong>$ @Model.CartProducts.Sum(x => x.Price * Model.CartProductsIds.Where(productID => productID == x.ID).Count())</strong>
                        </li>
                    </ul>
                </div>


                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Ваші дані </h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="firstName">Ім'я</label>
                                <input type="text" class="form-control" id="Name" placeholder=""  required="">

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="Email" placeholder="you@example.com" >           
                        </div>

                        <div class="mb-3">
                            <label for="address">Адреса</label>
                            <input type="text" class="form-control" id="Address" placeholder="1234 Main St" required="" >
                           
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Продовжити</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
}
else
{
    <div>
        <b>Немає товарів у кошику.</b>
    </div>
}




