﻿@using Shop.Web.Code
@model ShopViewModel
@{


    ViewBag.Title = "Index";
    var defaultImageURL = "/Content/images/placeholder-image.png";

}
<script src="~/Content/javascript/main.js"></script>
<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Магазин</h1>
                </div><!-- /.page-title-heading -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index", "Shop")">
                            <label>
                                <input type="search" class="search-field" placeholder="Search …" value="" name="searchTerm">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div><!-- /.widget-search -->
                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Сортування товарів
                        </h5>
                        <ul>
                            <li><a href="@Url.Action("Index", "Shop", new { sortBy = (int)SortByEnums.Default })" class="@(Model.sortBy.HasValue ? Model.sortBy.Value == (int)SortByEnums.Default ? "active" : string.Empty : string.Empty)">За замовчуванням</a></li>
                            <li><a href="@Url.Action("Index", "Shop", new { sortBy = (int)SortByEnums.Popularity })" class="@(Model.sortBy.HasValue ? Model.sortBy.Value == (int)SortByEnums.Popularity ? "active" : string.Empty : string.Empty)">Популярні</a></li>
                            <li><a href="@Url.Action("Index", "Shop", new { sortBy = (int)SortByEnums.PriceLowToHigh })" class="@(Model.sortBy.HasValue ? Model.sortBy.Value == (int)SortByEnums.PriceLowToHigh ? "active" : string.Empty : string.Empty)">Ціна: зростаюча</a></li>
                            <li><a href="@Url.Action("Index", "Shop", new { sortBy = (int)SortByEnums.PriceHighToLow })" class="@(Model.sortBy.HasValue ? Model.sortBy.Value == (int)SortByEnums.PriceHighToLow ? "active" : string.Empty : string.Empty)">Ціна: спадаюча</a></li>
                        </ul>
                    </div>

                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Категорії
                        </h5>
                        <div class="tag-list">
                            @foreach (var category in Model.FeaturedCategories)
                            {
                                <a href="@Url.Action("Index", "Shop", new { categoryID = category.ID })">@category.Name</a>
                            }
                        </div>
                    </div><!-- /.widget -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-9">
                <div class="product-content product-threecolumn product-slidebar clearfix">
                    <ul class="product style2 sd1">
                        @foreach (var product in Model.Products)
                        {
                            var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defaultImageURL : product.ImageURL;
                            <li class="product-item">
                                <div class="product-thumb clearfix">
                                    <a href="#">
                                        <img src="@imageURL" alt="image">
                                    </a>
                                </div>
                                <div class="product-info clearfix">
                                    <span class="product-title">
                                        @product.Name
                                    </span>
                                    <div class="price">
                                        <ins>
                                            <span class="amount">$ @product.Price</span>
                                        </ins>
                                    </div>
                                </div>
                                <div class="add-to-cart text-center">
                                    <a class="productAddToCart" data-id="@product.ID">Додати до кошика</a>
                                </div>
                                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                            </li>
                        }
                    </ul><!-- /.product -->
                </div><!-- /.product-content -->
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->

<script>

    var products;
    $(".productAddToCart").click(function () {
        var existingCookieData = $.cookie('CartProducts');

        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {
            products = existingCookieData.split('-');
        }
        else {
            products = [];
        }

        var productID = $(this).attr('data-id');

        products.push(productID);

        $.cookie('CartProducts', products.join('-'), { path: '/' });
       
        updateCartProducts();
      
    });


</script>
